body{
    display: flex;
    justify-content: center;
}
#calcContainer{
    border-radius: 15px;
    width: 400px;
    height: 500px;
    margin-top: 100px;
    background-color:cadetblue;
    justify-content: center;
    align-items: center;
}
#visualInput{
    text-align: end;
    border-radius: 6px;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: white;
    font-size: 25px;
}
#buttons{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#row1, #row2, #row3, #row4, #row5{
    text-align: center;
    gap: 6px;
}
#row1{
    display: flex;
    margin-bottom: 20px;
}
button{
    font-size: 20px;
    background-color: deepskyblue;
}
#row1 button{
    width: 70px;
    height: 50px;
    border-radius: 12px;
}
#divide, #multiply, #minus, #add, #delete, #clear{
    background-color:coral;
}
#row2{
    display: flex;
    margin-bottom: 20px;
}
#row2 button{
    width: 70px;
    height: 50px;
    border-radius: 12px;
}
#row3{
    display: flex;
    margin-bottom: 20px;
}
#row3 button{
    width: 70px;
    height: 50px;
    border-radius: 12px;
}
#row4{
    display: flex;
    margin-bottom: 20px;
}
#row4 button{
    width: 70px;
    height: 50px;
    border-radius: 12px;
}
#row5 button{
    width: 300px;
    height: 60px;
    border-radius: 12px;
}